{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        funcool/promesa {:mvn/version "5.1.0"}
        jarohen/chime {:mvn/version "0.3.0-SNAPSHOT"}
        http-kit {:mvn/version "2.4.0-alpha6"}
        reaver {:mvn/version "0.1.3"}
        ; web
        metosin/ring-http-response {:mvn/version "0.9.1"}
        metosin/reitit-middleware {:mvn/version "0.4.2"}
        metosin/reitit-schema {:mvn/version "0.4.2"}
        metosin/reitit-swagger {:mvn/version "0.4.2"}
        metosin/reitit-swagger-ui {:mvn/version "0.4.2"}
        metosin/ring-swagger-ui {:mvn/version "3.24.3"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring-cors {:mvn/version "0.1.13"}
        metosin/muuntaja {:mvn/version "0.6.6"}
        ; database
        org.msync/lucene-clj {:mvn/version "0.2.0-SNAPSHOT"}
        com.oath.halodb/halodb {:mvn/version "0.4.5"}
        com.taoensso/nippy {:mvn/version "2.15.0-RC1"}}
 :mvn/repos {"yahoo" {:url "https://yahoo.bintray.com/maven"}}
 :aliases {:nrepl {:extra-paths ["dev/src" "dev/resources"]
                   :extra-deps
                   {nrepl/nrepl {:mvn/version "0.6.0"}
                    org.clojure/tools.namespace {:mvn/version "1.0.0"}}}
           :depstar
                  {:extra-deps
                       {seancorfield/depstar {:mvn/version "0.5.2"}}}}}
